 <!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Online Assessment - Home Page</title>
</head>
<body >
<h1>Welcome to Online Assessments</h1>
<h3>Login</h3>
<br><br><br>
<table>
<form action="UserCheck">
<tr><td>Email ID:<input type="email" name="email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" title="Enter Correct Email Id" required></td></tr>
<tr><td>Password:<input type="password" name="password"  pattern=".{8,}" title="Enter atleast 8 characters" required></td></tr>
<tr><td><input type="submit" value="LOGIN"></td></tr>
</form>
</table>
New User?<a href="/register"> Register Here</a>
</body>
</html>
